<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.2/css/all.css" rel="stylesheet">
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.0/layer.js"></script>
		<link rel="stylesheet" href="/static/login.css">
	</head>
	<body>
		<div id="container">
			<div id="head">
				<div id="loader"></div>
				<div id="avatar">
					<img src="https://www.jpcli.top/static/upload/2021/02/ylMyKs.jpg"
						alt="">
				</div>
			</div>
			<div class="hr-box">
				<span class="line"></span>
				<span class="text">第三方登录</span>
				<span class="line"></span>
			</div>
			<div id="auth">
				<div class="auth-item" oauth-type="github">
					<i class="fab fa-github" style="color: black;"></i>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			function getSearchValue(key) {
				let query = window.location.search.substring(1);
				let kvs = query.split("&");
				for (let i = 0; i < kvs.length; i++) {
					let pair = kvs[i].split("=");
					if (pair[0] == key) {
						return pair[1];
					}
				}
				return (false);
			}
		</script>

		<!-- 跳转到第三方登录函数 -->
		<script type="text/javascript">
			function redirect(oauthType) {
				return function() {
					let callbackURL = "http://127.0.0.1:8080/login.html" + encodeURIComponent(
						`?oauthType=${oauthType}&fromURL=${fromURL}`)
					// let callbackURL = encodeURIComponent(`http://127.0.0.1:8848/%E5%89%8D%E7%AB%AF%E6%B5%8B%E8%AF%95/login.html?oauthType=${oauthType}&fromURL=${fromURL}`)
					if (oauthType == "github") oauthURL =
						"https://github.com/login/oauth/authorize?client_id=1e71889dbd7d5968c12a&redirect_uri=" + callbackURL
					else {
						layer.msg("第三方登录类型无效", { icon: 2 })
						return
					}

					layer.msg("正在跳转到授权界面")
					document.location.href = oauthURL
				}
			}
		</script>

		<!-- 初始化 -->
		<script type="text/javascript">
			let allOauth = document.querySelectorAll("*[oauth-type]")
			for (i = 0; i < allOauth.length; i++) {
				now = allOauth[i]
				now.addEventListener("click", redirect(now.getAttribute("oauth-type")))
			}

			let fromURL = "http://127.0.0.1:8080/" // 主页
			let url = getSearchValue("fromURL"),
				oauthType = getSearchValue("oauthType")
			if (url) fromURL = url
		</script>



		<!-- 第三方登录返回验证 -->
		<script type="text/javascript">
			! function() {
				if (!oauthType) return

				// loading 特效
				let loader = document.querySelector("#loader")
				loader.classList.add("loading")
				// 请求
				fetch("http://127.0.0.1:8080/oauth/github?code=" + getSearchValue("code"), {
						method: "POST",
					})
				.then(res => {
					return res.json()
				})
				.then(res => {
					if (res.code) {
						layer.msg(res.msg, { icon: 2 })
						loader.classList.remove("loading")
						return
					}

					// 设置cookie
					let expires = new Date(new Date().getTime()+3*3600*1000).toGMTString()
					document.cookie = `jwt=${res.jwt};path=/;expires=${expires}`
					layer.msg("登录成功，即将跳转", { icon: 1 })
					if(res.to){
						window.location.href = "http://127.0.0.1:8080" + res.to
					}else{
						window.location.href = fromURL
					}
				})
			}()
		</script>
	</body>
</html>
