{{ define "include" }}

<div class="page-header text-center">
    <h1>网站声明</h1>
</div>
<p>当你使用本站 「追风寻逸」 时，代表你已接受本站的免责声明和隐私原则等条款。</p>
<ol>
    <li>本站提供的所有内容仅供学习、分享与交流，我们不保证内容的正确性。通过使用本站内容随之而来的风险与本站无关；</li>
    <li>本站保留内容版权，用户可进行转载、评论，但不得用于商业或者非法用途 ，否则产生的后果本站概不负责；</li>
    <li>本站所有评论内容仅代表评论者个人意见，与本站无关，请各位评论者评论时遵守当地及中国的法律法规；</li>
    <li>如本站内容有涉及侵权，请尽快联系站长，站长会尽快核实并删除有争议的内容。</li>
</ol>

<h2 class="text-center">隐私原则</h2>
<p>本站目前涉及到浏览者隐私的只有一个地方，就是评论区。当你评论时，你的公开信息、Cookie信息和IP地址或许会被记录。这些信息仅为了改进网站质量和可能的交流沟通。本站不会将这些信息进行展示、出租或出售给任何人。但以下情况除外：</p>
<ol>
    <li>只有透露你的个人资料，才能提供你所要求的产品和服务；</li>
    <li>本站需要听从法庭传票、法律命令或遵循法律程序；</li>
    <li>本站发现你违反了本站已发布的条款或声明。</li>
</ol>

{{ end }}