{{ define "include" }}

{{ with .post }}
<div class="page-header text-center">
	<h1>{{ .Title }}</h1>
	<ul class="list-inline" style="margin-bottom:0;">
		<li>修改于 {{ TimestampToDate .Modified }}</li>
		<li>|</li>
		<li>
			{{ with .Category}}
			<span style="margin-left: 3px;">
				<i class="glyphicon glyphicon-folder-open" style="color: #0089e0;"></i>
				<a style="color: #6E7173;margin-left: 3px;" href="/category/{{ .Slug }}/"
					target="_blank">{{ .Name }}</a>
			</span>
			{{ end }}
		</li>
		<li>|</li>
		<li>阅读 {{ .ViewCount }} 次</li>
	</ul>
</div>

<div id="text">
	{{ .Text | SafeHTML }}
</div>


<div>
	<ul class="tags">
		{{ range .Tags }}
		<li><a href="/tag/{{ .Slug }}/" target="_blank">{{ .Name }}</a></li>
		{{ end }}
	</ul>
</div>
<!-- <ul class="tags">
	{{ range .Tags }}
	<li><a href="/tag/{{ .Slug }}/">{{ .Name }}</a></li>
	{{ end }}
</div> -->

<div style="margin-bottom: 50px;"></div>

{{ end }}

<script type="text/javascript">
	// 代码高亮
	hljs.configure({
		tabReplace: '    ', // 4 spaces
	})
	hljs.highlightAll();

	// 文章目录优化
	window.onload = function() {
		// 移动目录
		let toc = document.querySelector("nav[id=post-toc]")
		toc.classList.add("hidden-xs","hidden-sm","nav")
		document.querySelector("#sidebar").appendChild(toc)

		// bootstrap affix
		$('#post-toc').affix({
			offset: {
				top: $('#post-toc').offset().top - 71,
				bottom: ($('footer').outerHeight(true)) + 40
			}
		})
		
		// bootstrap监听滚动
		$('body').scrollspy({ target: '#post-toc' })

	}
</script>

{{ end }}
