{{ define "include" }}

{{/* 文章列表 */}}
{{ range .postList }}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title clearfix">
			{{ .Title }}
			{{ if eq .Status "sticky" }}
			<span class="label label-info pull-right" style="display: inline-block;">置顶</span>
			{{ end }}
		</h3>

	</div>
	<div class="panel-body">
		<p style="text-indent:2em;margin-bottom: 0;">
			{{ .Excerpt }}...
		</p>

	</div>
	<div class="panel-footer clearfix" style="background-color: transparent;">
		<span style="color: #999;">{{ TimestampToDate .Created }} | </span>
		<span style="margin-left: 3px;">
			<i class="glyphicon glyphicon-folder-open" style="color: #0089e0;"></i>
			<a style="color: #6E7173;margin-left: 3px;" href="/category/{{ .Category.Slug }}/">{{ .Category.Name }}</a>
		</span>
		<span class="pull-right"><a href="/post/{{ .Pid }}.html" target="_blank">阅读更多→</a></span>
	</div>
</div>
{{ end }}

{{/* 分页 */}}
{{ with .pageNavInfo }}
<nav aria-label="Page navigation" class="text-center">
	<ul class="pagination">
		{{ if eq .Current 1 }}
		<li class="disabled"> <span>&laquo;</span> </li>
		{{ else }}
		<li> <a href="{{ GetPageNavUrl .URLFormat .Previous }}" aria-label="Previous"> <span>&laquo;</span></a> </li>
		{{ end }}


		{{ $Current := .Current }}
		{{ $URLFormat := .URLFormat }}
		{{ range .PageList }}
		{{ if eq . $Current }}
		<li class="active"> <span>{{ $Current }}</span> </li>
		{{ else }}
		<li><a href="{{ GetPageNavUrl $URLFormat . }}">{{ . }}</a></li>
		{{ end }}
		{{ end }}


		{{ if eq .Current .TotalPage }}
		<li class="disabled"> <span>&raquo;</span> </li>
		{{ else }}
		<li> <a href="{{ GetPageNavUrl .URLFormat .Next }}" aria-label="Next"> <span>&raquo;</span></a> </li>
		{{ end }}
	</ul>
</nav>
{{ end }}

{{ end }}