<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ .title }}</title>
	<meta name="keywords" content="{{ .keywords }}">
	<meta name="description" content="{{ .description }}">
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
	<!-- <link rel="stylesheet" href="/static/bootstrap@3.3.7.css"> 
	<link rel="stylesheet" href="/static/fontawesome-free@5.css">-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.6.0/build/styles/atom-one-light.min.css">
	<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.6.0/build/highlight.min.js"></script>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body data-spy="scroll">
	<header class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<!-- TODO:标题设置 -->
					<p style="margin-top: 20px;font-size: 36px;">
						{{ .websiteName }}
						<small style="font-size: 65%;font-weight: 400;line-height: 1;color: #777;">
							{{ .websiteURL }}
							<!-- <a href="javascript:window.location.href=`/oauth/login?fromURL=${window.location.href}`">
								登录
							</a> -->
						</small>
					</p>


				</div>
			</div>
		</div>

	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-offset-1">

				{{ template "include" .}}

			</div>


			<div class="col-md-3" id="sidebar">
				<!-- TODO:博主信息配置 -->
				<div class="panel panel-default">
					<div class="panel-heading">博主</div>
					<div class="panel-body">
						<img src="https://www.jpcli.top/static/upload/2021/02/ylMyKs.jpg" alt="头像"
							class="img-circle center-block" style="width: 33%;">

						<ul class="list-inline text-center" style="font-size: 20px;margin: 10px 0 0 0;color:#337ab7">
							<li><a href="https://github.com/jpcli" target="_blank"><i class="fab fa-github"></i></a></li>
							<li><a onclick="mailme()"><i class="fas fa-envelope"></i></a></li>
							<script>
								function mailme() {
									window.open(["https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=", window.atob("aGlAanBjbGkudG9w")].join(""))
								}
							</script>
						</ul>
					</div>

				</div>


				<div class="panel panel-default">
					<div class="panel-heading">分类</div>
					<div class="list-group">
						{{ range .categories}}
						<a class="list-group-item" href="/category/{{ .Slug }}/">
							{{ .Name }}
							<span class="badge">{{ .Count }}篇</span>
						</a>
						{{ end }}
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">标签云</div>
					<div class="panel-body">
						<ul class="list-inline" style="margin-bottom:0;">
							{{ range .tags}}
							<li>
								<a href="/tag/{{ .Slug }}/">
									{{ .Name }}
								</a>
							</li>
							{{ end }}
						</ul>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">网站信息</div>
					<ul class="list-group">
						<li class="list-group-item">
							运行天数
							<span class="badge">
								<script>document.write((new Date(new Date().toLocaleDateString()).getTime() - 1584288000000) / 86400000 + 1)</script>
								天
							</span>
						</li>
						<li class="list-group-item">
							文章总数
							<span class="badge">{{ .postNum }}篇</span>
						</li>
						<li class="list-group-item">
							最近修改
							<span class="badge">{{ TimestampToDate .lastModified }}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<footer class="container-fluid text-center">
		<div>
			<span><a href="/sitemap.xml">网站地图</a></span>
			|
			<span><a href="/page/declaration.html">网站声明</a></span>
			|
			<span><a href="/page/archives.html">文章归档</a></span>
		</div>
		Copyright © by 追风寻逸 All Rights Reserved.<br>
		<a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow">粤ICP备20016456号</a>
	</footer>

	<script>
		var _hmt = _hmt || [];
		(function () {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?d9338c1d5fd5632ac70900f867915cfa";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>

</body>

</html>