<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>GoBlog博客管理后台</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sentsin/layui@v2.6.5/dist/css/layui.css" />
        <script src="https://cdn.jsdelivr.net/gh/sentsin/layui@v2.6.5/dist/layui.js" type="text/javascript" charset="utf-8"></script>
        <style>
            .pagetab {
                position: fixed;
                top: 60px;
                bottom: 106px;
                left: 200px;
                right: 0;
            }

            .layui-tab {
                margin: 3px !important;
            }

            .layui-body {
                top: 106px !important;
                background-color: #f2f2f2;
            }

            .layui-header a,
            .layui-header i {
                font-size: 16px !important;
            }

            /* 第一个tab禁止删除 */
            #pagetab-title > :first-child > i {
                display: none;
            }

            #pagetab-content {
                padding: 15px;
                background-color: #f2f2f2;
            }

            .tab-iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        </style>
    </head>

    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <!-- 头部区域 -->
                <div class="layui-logo">GoBlog博客管理后台</div>

                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="/" target="_blank">
                            <i class="layui-icon layui-icon-website"></i>
                        </a>
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a id="btn-refresh" href="javascript:;">
                            <i class="layui-icon layui-icon-refresh-3"></i>
                        </a>
                    </li>
                    <!-- <li class="layui-nav-item"><a href="">用户</a></li>
                    <li class="layui-nav-item">
                        <a>其它系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">邮件管理</a></dd>
                            <dd><a href="">消息管理</a></dd>
                            <dd><a href="">授权管理</a></dd>
                        </dl>
                    </li> -->
                </ul>

                <!-- <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a>
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img" />
                            追风寻逸
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="">基本资料</a></dd>
                            <dd><a href="">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">退了</a></li>
                </ul> -->
            </div>

            <div class="layui-side layui-bg-black">
                <!-- 左侧导航区域 -->
                <div class="layui-side-scroll">
                    <ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="side-nav">
                        <li class="layui-nav-item layui-nav-itemed">
                            <a>文章管理</a>
                            <dl class="layui-nav-child">
                                <dd><a lay-href="./post/list.html">文章列表</a></dd>
                                <dd><a lay-href="./term/list.html?term_type=1">分类列表</a></dd>
                                <dd><a lay-href="./term/list.html?term_type=2">标签列表</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a>图片管理</a>
                            <dl class="layui-nav-child">
                                <dd><a lay-href="./attachment/upload.html">图片上传</a></dd>
                                <!-- <dd><a lay-href="">图片列表</a></dd> -->
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a>博客配置</a>
                            <dl class="layui-nav-child">
                                <dd><a lay-href="./option/base.html">基本配置</a></dd>
                                <!--<dd><a lay-href="option-tkd.html">TKD配置</a></dd>-->
                            </dl>
                        </li>
                        <!-- <li class="layui-nav-item"><a lay-href="">关于</a></li> -->
                    </ul>
                </div>
            </div>

            <div class="pagetab">
                <!-- 选项卡区域 -->
                <div class="layui-tab layui-tab-brief" lay-allowClose="true" lay-filter="pagetab">
                    <ul id="pagetab-title" class="layui-tab-title">
                        <li class="layui-this">主页</li>
                    </ul>
                </div>
            </div>

            <div class="layui-body">
                <!-- 内容主体区域 -->
                <div id="pagetab-content" class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src="./home.html" frameborder="0" class="tab-iframe"></iframe>
                    </div>
                </div>
            </div>

            <div class="layui-footer">
                <!-- 底部固定区域 -->
                © layui.com - 底部固定区域
            </div>
        </div>
        <script>
            // 获取content中所有的item内容
            function tabItems() {
                return document.querySelectorAll("#pagetab-content>.layui-tab-item")
            }

            // iframe刷新
            function reloadIframe(i) {
                tabItems()[i].querySelector("iframe").contentWindow.location.reload()
            }

            layui.use(function () {
                let element = layui.element,
                    $ = layui.$

                let nowIndex = 0,
                    tabIDs = ["home.html"]

                // 自定义tab绑定
                element.tab({
                    headerElem: "#pagetab-title>li",
                    bodyElem: "#pagetab-content>.layui-tab-item",
                })

                // 监听tab切换
                element.on("tab(pagetab)", function (data) {
                    let i = data.index,
                        t = tabItems()
                    // 切换tab
                    if (nowIndex == i) return
                    t[i].classList.add("layui-show")
                    t[nowIndex].classList.remove("layui-show")
                    nowIndex = i
                })

                // 监听tab删除
                element.on("tabDelete(pagetab)", function (data) {
                    let i = data.index
                    if (nowIndex > i) nowIndex--
                    tabItems()[i].remove()
                    tabIDs.splice(i, 1)
                })

                // 使侧边导航中的所有<a>不跳转
                $(".layui-nav-tree a").each(function () {
                    $(this).attr("href", "javascript:")
                })

                // 在tab中打开侧边导航中<a>的lay-href链接
                element.on("nav(side-nav)", function (elem) {
                    // elem是jQuery的dom
                    let href = elem.attr("lay-href"),
                        title = elem.text()
                    if (!href) return

                    // 判断链接是否已打开
                    let i = tabIDs.indexOf(href)
                    if (i == -1) {
                        // 新建tab
                        element.tabAdd("pagetab", {
                            title: title,
                            id: href,
                        })
                        // 添加content
                        let div = document.createElement("div")
                        div.className = "layui-tab-item"
                        div.innerHTML = `<iframe src="${href}" frameborder="0" class="tab-iframe"></iframe>`
                        document.querySelector("#pagetab-content").appendChild(div)
                        // 插入id到集合中
                        tabIDs.push(href)
                    } else {
                        // 刷新
                        reloadIframe(i)
                    }

                    // 切换tab
                    element.tabChange("pagetab", href)
                })

                // 绑定刷新网页按钮
                document.querySelector("#btn-refresh").onclick = function () {
                    reloadIframe(nowIndex)
                }
            })
        </script>
    </body>
</html>
