<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sentsin/layui@v2.6.5/dist/css/layui.css" />
        <script src="https://cdn.jsdelivr.net/gh/sentsin/layui@v2.6.5/dist/layui.js" type="text/javascript" charset="utf-8"></script>
        <style>
            body {
                background-color: #f2f2f2;
                padding: 15px;
            }
        </style>
    </head>
    <body>
        <div class="layui-card">
            <!-- TODO: 在card的header中添加按指定id搜索功能等，参考https://www.layui.com/layuiadmin/std/dist/views/app/content/list.html -->
            <div class="layui-card-header">卡片面板</div>
            <div class="layui-card-body">
                <button type="button" class="layui-btn" id="btn-new-term">
                    <i class="layui-icon layui-icon-add-circle-fine"></i>
                    新建
                </button>
                <table id="list-table" lay-filter="list-table"></table>
            </div>
        </div>

        <script type="text/html" id="tool-bar">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
                <i class="layui-icon layui-icon-edit"></i>
                编辑
            </a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
                <i class="layui-icon layui-icon-delete"></i>
                删除
            </a>
        </script>

        <script>
            termType = layui.url().search.term_type

            // 打开term编辑页弹窗
            function openEditer(id, title) {
                layer.open({
                    type: 2,
                    area: ["1000px", "400px"],
                    title: title,
                    content: `edit.html?term_type=${termType}&id=${id}`,
                })
            }

            // 监听“新建”按钮
            document.querySelector("#btn-new-term").addEventListener("click", function () {
                openEditer(0, "新建项目")
            })

            // 刷新表格
            function reloadTable() {
                table.reload("list-table")
            }

            layui.use(["table", "form"], function () {
                table = layui.table
                form = layui.form

                table.render({
                    elem: "#list-table",
                    url: `../../api/term/list?term_type=${termType}`, //数据接口
                    method: "GET",
                    page: true, //开启分页
                    cols: [
                        [
                            //表头
                            { field: "id", title: "ID", sort: true },
                            { field: "name", title: "名字" },
                            { field: "slug", title: "缩略名" },
                            { field: "count", title: "文章数量" },
                            { align: "center", toolbar: "#tool-bar" },
                        ],
                    ],
                    parseData: function (res) {
                        //res 即为原始返回的数据
                        let list = []
                        for (let i = 0, l = res.data.list; i < l.length; i++) {
                            list.push({
                                id: l[i].Tid,
                                name: l[i].Name,
                                slug: l[i].Slug,
                                count: l[i].Count,
                            })
                        }
                        return {
                            code: res.code,
                            msg: res.msg,
                            count: res.data.count,
                            data: list,
                        }
                    },
                })

                // 表格行工具栏监听
                table.on("tool(list-table)", function (obj) {
                    let data = obj.data, // 获得当前行数据
                        layEvent = obj.event // 获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                    tr = obj.tr // 获得当前行 tr 的 DOM 对象（如果有的话）

                    if (layEvent === "edit") {
                        // 编辑
                        openEditer(data.id, `编辑项目【${data.id}】`)
                    } else if (layEvent === "del") {
                        // 删除
                        // TODO: 删除term
                        layer.msg("还未开发")
                    }
                })
            })
        </script>
    </body>
</html>
