body {
	background-color: #F2F2F2;
}

#container {
	width: 375px;
	height: 450px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

@media screen and (max-width: 768px) {
	#container {
		width: 300px;
	}
}

#head {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	position: relative;
}

#avatar {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
}

#avatar img {
	width: 100%;
	height: 100%;
}

#loader {
	position: absolute;
	width: 130px;
	height: 130px;
	border: 3px solid #ebeced;
	border-radius: 50%;
	z-index: 1;
}

.loading {
	border-left-color: #009F95 !important;
	border-radius: 50%;
	animation: rotate 1s linear infinite;

}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


.hr-box {
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	padding: 0 50px;
	margin-top: 100px;
}

.hr-box .line {
	height: 2px;
	flex-grow: 1;
	background-color: #d8d8d8;
}

.hr-box .text {
	color: #d8d8d8;
	margin: 0 5px;
}

#auth {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px;
}

.auth-item {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
}

.auth-item i {
	font-size: 30px;
}
